﻿@inject UserManager<User> userManager
@{
    ViewBag.Title = "Панель управления";
    var userId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
    var user = userId != null ? await userManager.FindByIdAsync(userId) : null;
    var userName = user != null ? $"{user.UserFirstName} {user.UserLastName}" : "";
    var userTag = user != null ? $"{user.UserFirstName.FirstOrDefault()}{user.UserLastName.FirstOrDefault()}" : "";
}
<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_Head")

    <link type="text/css" rel="stylesheet" href="~/stylesheets/webapp.min.css" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" href="~/stylesheets/layouts.min.css" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" href="~/stylesheets/dashboard.min.css" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" href="~/fonts/material-icons.css" asp-append-version="true" />

    <script src="~/scripts/main.js" asp-append-version="true"></script>
    <script src="~/scripts/utils.js" asp-append-version="true"></script>
    <script src="~/scripts/layouts.js" asp-append-version="true"></script>
    <script src="~/scripts/api.js" asp-append-version="true"></script>
    <script src="~/scripts/navigation.js" asp-append-version="true"></script>
    <script src="~/scripts/dashboard.js" asp-append-version="true"></script>
</head>
<body>
    <div id="root" class="dashboard_app">
        <div class="topbar">
            <div class="topbar-container disable-user-select">
                <div class="topbar-sub-container">
                    <div class="topbar-menu-handler" onclick="app.sidebar.turnTheme()">
                        <div class="material-icon icon">menu</div>
                    </div>
                    <a class="topbar-logo" href="/dashboard">
                        <svg class="svg-logo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40" height="40" viewBox="0 0 24 24" xml:space="preserve">
                        <g><path fill="none" d="M0,0h24v24H0V0z" /></g>
                        <g><path d="M13.2,7.07L10.25,11l2.25,3c0.33,0.44,0.24,1.07-0.2,1.4l0,0c-0.44,0.33-1.07,0.25-1.4-0.2c-1.05-1.4-2.31-3.07-3.1-4.14c-0.4-0.53-1.2-0.53-1.6,0l-4,5.33C1.71,17.06,2.18,18,3,18h18c0.82,0,1.29-0.94,0.8-1.6l-7-9.33C14.4,6.53,13.6,6.53,13.2,7.07z" /></g>
                    </svg>
                        <div class="topbar-logo-header">
                            <span class="title">University</span>
                            <span class="sub-title">Management</span>
                        </div>
                    </a>
                    <a asp-controller="Home" asp-action="Index" class="topbar-home material-icon flex flex-center disable-link">explore</a>
                </div>
                <div class="topbar-sub-container">
                    <div class="topbar-account">
                        <div class="account-details">
                            <span class="user-name">@userName</span>
                        </div>
                        <div class="account-icon">
                            <div class="user-tag">@userTag</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-body flex_layout_row">
            @await Html.PartialAsync("Partials/_Navigation")
            <div class="dashboard-content flex modern-scrollbar" id="page-renderer-container">
                @RenderBody()
            </div>
        </div>
        <div popup="windowed" class="popup-over-box" active="no">
            <div popup-ref="loader" class="windowed-popup-loader">
                <svg width="60px" height="60px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-double-ring" style="background: none;"><circle cx="50" cy="50" ng-attr-r="{{config.radius}}" ng-attr-stroke-width="{{config.width}}" ng-attr-stroke="{{config.c1}}" ng-attr-stroke-dasharray="{{config.dasharray}}" fill="none" stroke-linecap="round" r="40" stroke-width="8" stroke="#32a0da" stroke-dasharray="62.83185307179586 62.83185307179586" transform="rotate(151.765 50 50)"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="1.7s" begin="0s" repeatCount="indefinite"></animateTransform></circle><circle cx="50" cy="50" ng-attr-r="{{config.radius2}}" ng-attr-stroke-width="{{config.width}}" ng-attr-stroke="{{config.c2}}" ng-attr-stroke-dasharray="{{config.dasharray2}}" ng-attr-stroke-dashoffset="{{config.dashoffset2}}" fill="none" stroke-linecap="round" r="31" stroke-width="8" stroke="#72b4d7" stroke-dasharray="48.69468613064179 48.69468613064179" stroke-dashoffset="48.69468613064179" transform="rotate(-151.765 50 50)"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;-360 50 50" keyTimes="0;1" dur="1.7s" begin="0s" repeatCount="indefinite"></animateTransform></circle></svg>
            </div>
            <div popup-ref="content-wrapper" active="no">
                <div popup-ref="content" class="windowed-popup-content"></div>
                <div class="windowed-popup-controls">
                    <div class="base-button button-action" onclick="dashboard.popup.windowed.close()">Закрыть</div>
                </div>
            </div>
        </div>
        <script>
            dashboard.popup.windowed.updatePointers();
        </script>
    </div>
</body>
</html>
