﻿@model DashboardScheduleManagerDisplayViewModel;
@{
    ViewBag.EditorName = "Управление расписанием";
    ViewBag.EditorDesc = "Панель управления расписанием";

    var schedulePreviewItemPartial = (await Html.PartialAsync("Partials/_SchedulePreviewItem"));
    var schedulePreviewItemRaw = "";
    using (var writer = new System.IO.StringWriter())
    {
        schedulePreviewItemPartial.WriteTo(writer, System.Text.Encodings.Web.HtmlEncoder.Default);
        schedulePreviewItemRaw = writer.ToString();
    }
}

<div class="page" style="min-width: 700px;">
    <div class="page-header content-box">
        <div class="header-label">@ViewBag.EditorName</div>
        <div class="header-description">@ViewBag.EditorDesc</div>
    </div>
    <div class="activity-box">
        <form id="add_entity_form" onkeypress="return utils.preventEnterKeyPress(event);">
            <div class="activity-box--header" format="auto">
                <div>Добавить расписание</div>
            </div>
            <div class="activity-box--content">
                <div class="flex_layout_row">
                    <div class="box-inrow-inputs flex_layout_row">

                        <!-- STUDENT GROUPS -->
                        <div class="input-field">
                            <div class="input-field-header">Студенческая группа</div>
                            <select data-ref="groupId" class="input input-select-modern" name="StudentGroupId" required>
                                @foreach (var entity in Model.StudentGroups)
                                {
                                    @if (!entity.Expired)
                                    { 
                                    <option value="@entity.Id">@entity.Name</option>
                                    }
                                }
                            </select>
                        </div>

                        <!-- SCHEDULE TYPE -->
                        <div class="input-field">
                            <div class="input-field-header">Тип расписания</div>
                            <select data-ref="scheduleTypeId" class="input input-select-modern" name="ScheduleTypeId" required>
                                @foreach (var entity in Model.ScheduleTypes)
                                {
                                    <option value="@entity.Id">@entity.Name</option>
                                }
                            </select>
                        </div>

                        <div class="input-field" style="flex: 0;">
                            <div class="input-field-header"></div>
                            <button submitter type="button" class="input input-button-modern submitter">Добавить</button>
                        </div>
                    </div>
                </div>
                <div class="messages-container message-box" message-type="error" active="no">Ошибка здесь</div>
            </div>
            @await Html.PartialAsync("Partials/_AsyncOperationBox")
            <script defer>
                window.layouts.async.buildAutoApiHandler(
                    document.getElementById("add_entity_form"),
                    api.catalog.schedules.add,
                    () => { dashboard.controllers.schedulesPreview.forceUpdate(); }
                );
            </script>
        </form>
    </div>
    <div class="activity-columns-box" id="schedules-preview-container">
        <div class="column-box" data-ref="preview-active-box">
            <div class="column-box-header" style="color: #485a6f" format="upper">
                <span>Опубликованные</span>
                <b data-ref="items-counter" class="sc-preview-counter">0</b>
            </div>
            <div data-ref="items-container" class="collection-drawer"></div>
        </div>
        <div class="column-box" data-ref="preview-inactive-box">
            <div class="column-box-header" style="color: #8a96a3" format="upper">
                <span>Неопубликованные</span>
                <b data-ref="items-counter" class="sc-preview-counter">0</b>
            </div>
            <div data-ref="items-container" class="collection-drawer schedule-preview-inactive-wrapper"></div>
        </div>
        @await Html.PartialAsync("Partials/_AsyncOperationBox")
        <script defer>
            (function ()
            {
                var rootElement = document.getElementById("schedules-preview-container");
                var controller = dashboard.controllers.builder.buildSchedulesPreviewController(
                    rootElement,
                    "@schedulePreviewItemRaw"
                );
                controller.forceUpdate();
            })();
        </script>
    </div>
</div>