﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model PassportExternalLoginViewModel

@{
    Layout = "PassportLayout";
    ViewBag.Title = "Регистрация через " + @ViewData["LoginProvider"];
}

<!-- SIGN UP FORM -->
<form class="passport-box passport-box-large-size" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <div class="passport-box-content">
        <div class="auth-header">
            <img class="icon" src="~/images/logo.png" />
            <div class="auth-title">Регистрация</div>
        </div>
        <div class="marked-header-label" style="text-align: center">@ViewData["LoginProvider"]</div>
        <!-- <div class="sign-progress"></div> -->
        <div class="content-tabs">
            <div class="content-tab">
                <div class="validation-message" asp-validation-summary="ModelOnly"></div>
                <div class="content-wrapper">
                    <div class="content-column">
                        <div class="fields">
                            <div class="input-field">
                                <input asp-for="Email" placeholder="Email" required />
                                <span class="validation-message" asp-validation-for="Email"></span>
                            </div>
                            <div class="input-field">
                                <input asp-for="FirstName" placeholder="Имя" required />
                                <span class="validation-message" asp-validation-for="FirstName"></span>
                            </div>
                            <div class="input-field">
                                <input asp-for="LastName" placeholder="Фамилия" required />
                                <span class="validation-message" asp-validation-for="LastName"></span>
                            </div>
                            <div class="input-field">
                                <input asp-for="MiddleName" placeholder="Отчество" required />
                                <span class="validation-message" asp-validation-for="MiddleName"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabs-navigation">
            <input type="submit" style="display: none;" />
            <button class="action-button">
                Зарегистрироваться
                <div class="icon-wrapper">
                    <svg class="icon" viewBox="0 0 492.004 492.004" focusable="false" fill="currentColor">
                        <path d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12 c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028 c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265 c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z" />
                    </svg>
                </div>
            </button>
        </div>
        <div class="utils-section">
            <a asp-controller="Passport" asp-action="Login" name="login" class="action-lite-button">Войти в систему</a>
        </div>
    </div>
</form>
<!-- SIGN UP SOCIAL -->
@Html.Partial("_Social")