﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model PassportLoginViewModel
@inject SignInManager<User> SignInManager

@{
    Layout = "PassportLayout";
    ViewBag.Title = "Вход в систему";
}

<!-- SIGN IN FORM -->
<form class="passport-box" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <div class="passport-box-content">
        <div class="auth-header">
            <img class="icon" src="~/images/logo.png" />
            <div class="auth-title">Вход в систему</div>
        </div>
        <div class="message-container" asp-validation-summary="ModelOnly"></div>
        <div class="fields">
            <div class="input-field">
                <input asp-for="Email" placeholder="Введите ваш email" required />
            </div>
            <div class="input-field">
                <input asp-for="Password" placeholder="Пароль" required />
            </div>
        </div>
        <input type="submit" style="display: none;" />
        <button type="submit" class="action-button" name="signin">
            <div class="overflow"></div>
            <span class="label">Войти</span>
            <div class="icon-wrapper">
                <svg class="icon" viewBox="0 0 492.004 492.004" focusable="false" fill="currentColor">
                    <path d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12 c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028 c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265 c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z" />
                </svg>
            </div>
        </button>
        <div class="utils-section">
            <a asp-controller="Passport" asp-action="Register" name="register" class="action-lite-button">Создать аккаунт</a>
            <a asp-controller="Passport" asp-action="ForgotPassword" name="remember-password" class="action-lite-button">Забыли пароль?</a>
        </div>
    </div>
</form>
<!-- SIGN IN SOCIAL -->
@Html.Partial("_Social.cshtml")