﻿<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_Head")

    <link type="text/css" rel="stylesheet" href="~/stylesheets/webapp.min.css" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" href="~/stylesheets/passport.min.css" asp-append-version="true" />

    <!--<script src="~/scripts/site.min.js" asp-append-version="true" defer></script>-->
</head>
<body>
    <div id="root">
        <!-- CONTENT BODY -->
        <div class="wrapper">
            @RenderBody()

            <!-- FOOTER -->
            @Html.Partial("_Footer")
        </div>

        <!-- LOADER -->
        <div class="overlay-loading" disabled>
            <div class="content">
                <div class="loader-spinner loader">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
