﻿@model PassportResetPasswordViewModel;
@{
    Layout = "PassportLayout";
    ViewBag.Title = "Изменение пароля доступа";
}

<!-- RESET PASSWORD FORM -->
<form class="passport-box" method="post">
    <div class="passport-box-content">
        <div class="auth-header">
            <img class="icon" src="~/images/logo.png" />
            <div class="auth-title">Изменение пароля доступа</div>
        </div>
        <div class="content-tabs">
            <div class="content-tab">
                <div class="fields">
                    <span class="marked-header-label">@Model.Email</span>
                    <div class="input-field">
                        <input asp-for="Password" placeholder="Пароль" required />
                        <span class="validation-message" asp-validation-for="Password"></span>
                    </div>
                    <div class="input-field">
                        <input asp-for="ConfirmPassword" placeholder="Подтвердите пароль" required />
                        <span class="validation-message" asp-validation-for="ConfirmPassword"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabs-navigation">
            <input type="submit" style="display: none;" />
            <button class="action-button">Изменить пароль</button>
        </div>
    </div>
    <input asp-for="Email" type="hidden" />
</form>