﻿.flex, .flex_layout_row, .flex_row_vcenter, .flex_layout_column {
  display: -webkit-flex !important;
  display: flex !important; }

.flex-center {
  align-items: center;
  align-content: center;
  justify-content: center; }

.flex_layout_row, .flex_row_vcenter {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row; }

.flex_layout_column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column; }

.flex-zero {
  flex: 0 !important; }

*[flex-vertical='center'] {
  align-items: center; }

*[flex-horizontal='center'] {
  justify-content: center; }

.flex_row_vcenter {
  align-items: center; }

.board-wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100%; }

.board-list {
  width: 250px;
  padding-right: 25px; }

