﻿$dashboard_options_background_color: #e4eaef;
$dashboard_options_sidebar_color: rgb(219, 228, 235);
$dashboard_options_main_font_color: #3d4551;
$dashboard_options_light_font_color: #a0a8b3;
$dashboard_options_menu_item_font_color: #3c84f6;
$dashboard_options_actibity_injected_bg_color: rgba(60, 132, 246, 0.1);
$dashboard_options_collection_item_separator_color: rgb(228, 234, 239);
