﻿<div class="schedule-view-entry-list-container">
    <div data-ref="header-title" class="schedule-view-list-header flex">Понедельник</div>
    <div scrollbar class="schedule-view-list-content-wrapper flex modern-board-list-scrollbar">
        <div data-ref="collection-renderer" class="schedule-view-list-content"></div>
    </div>
</div>