﻿<option></option>
<!--
<label class="btn btn-default form-check-label">
    <input data-ref="mode-input" class="form-check-input" type="radio" autocomplete="off">
    <span data-ref="mode-name">Сегодня</span>
</label>
    -->