﻿<div class="schedule-view-entry">
    <div class="schedule-view-entry-special-content">
        <div data-ref="discipline-method" class="special-item special-item-theme-dark-red">Лекция</div>
        <div data-ref="time" class="special-item">10:00 - 11:00</div>
    </div>
    <div data-ref="discipline" class="schedule-view-entry-title"></div>
    <div class="schedule-view-entry-label">
        <div class="label-header-in">Преподаватель</div>
        <span data-ref="instructor"></span>
    </div>
    <div class="schedule-view-entry-label">
        <div class="label-header-in">Место проведения занятия</div>
        <span data-ref="address"></span>
    </div>
</div>