﻿@{
    Layout = "ErrorLayout";
    ViewBag.Title = @ViewBag.StatusCode + " - " + @ViewBag.StatusCodeDescription;
}

<div class="error-code">@ViewBag.StatusCode</div>
<div class="error-description">@ViewBag.StatusCodeDescription</div>
<a class="error-link" asp-controller="Home" asp-action="Index">Вернуться на домашнюю страницу</a>
