﻿<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_Head")

    <link type="text/css" rel="stylesheet" href="~/stylesheets/webapp.min.css" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" href="~/stylesheets/error.min.css" asp-append-version="true" />

    <!--<script src="~/scripts/site.min.js" asp-append-version="true" defer></script>-->
</head>
<body>
    <div class="error-content">
        <div class="error-message">
            @RenderBody()
        </div>
    </div>
</body>
</html>
