﻿@import "../modules/_options.scss";

$content_upper_paading: 36px;

body {
    background-color: $dashboard_options_background_color;
    color: $dashboard_options_main_font_color;
}

.dashboard_app
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.dashboard-body {
    position: relative;
    display: flex;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    height: 100%;
}

.dashboard-content {
    display: flex;
    flex: 1;
    padding: 60px;
    overflow: auto;
}