﻿@import "../modules/_options.scss";
@import "../../main/_colors.scss";

$dboard_menu_padding_value: 20px;
$dboard_menu_compact_padding_value: 16px;
$dboard_menu_active_color: #5fa3f5;

.dboard-navigation {
    cursor: default;
    height: 100%;
    background-color: $dashboard_options_sidebar_color;
    border-right: 2px solid rgb(219, 228, 235);
    width: 250px;
    transition: width ease-in-out .2s;
    overflow: hidden;
}

.dboard-compact-view {
    width: 32px + 40px;

    .dboard-menu-category-header, .dboard-mi-content {
        display: none;
    }

    .dboard-menu {
        padding-top: 0;
    }

    .dboard-menu-category {
        margin: 0 $dboard_menu_compact_padding_value 0 $dboard_menu_compact_padding_value;
    }

    .dboard-mi-active {
        .dboard-mi-wrapper {}

        .dboard-mi-icon {
            color: #e4eaef !important;
            background-color: $dboard_menu_active_color;
        }
    }
}

.dboard-sidebar {
    position: static;
    display: flex;
    height: 100%;
}

.dboard-menu {
    width: 100%;
    padding-top: 30px;
    color: #5f717e;
    overflow-x: auto;
}

.dboard-menu-category {
    padding: 20px 0 10px 0;
    margin: 0 $dboard_menu_padding_value 0 $dboard_menu_padding_value;
    border-top: 1px solid #d0dce5;

    &:first-child {
        border-top: none;
    }
}

.dboard-menu-category-header {
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 0 10px 8px;
}

.dboard-menu-item
{
    color: inherit;
    display: flex;
    flex: 1;
    padding-bottom: 5px;
    align-items: center;
    text-decoration: none;
}


.dboard-mi-active {
    .dboard-mi-wrapper {
        &:hover {}
    }

    .dboard-mi-icon {
        color: $dboard_menu_active_color !important;
    }
}

.dboard-mi-wrapper {
    display: flex;
    flex: 1;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color ease-in-out .1s;
    background-color: transparent;

    &:hover {
        background-color: #e4eaef;
    }
}

.dboard-mi-content {
    padding: 0 20px;
}

.dboard-mi-label {
    font-weight: 500;
    white-space: nowrap;
}

.dboard-mi-icon {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #899dad;
    border-radius: 5px;
    transition: color ease-in-out .15s;
    //background-color: #e4eaef;

    $item_icon_size: 24px;

    > *[item-icon=""] {
        width: $item_icon_size;
        height: $item_icon_size;
        font-size: $item_icon_size;

        > * {
            width: $item_icon_size;
            height: $item_icon_size;
        }
    }
}