﻿@import "../modules/_options.scss";
@import "../../main/_colors.scss";

.page {
    max-width: 1200px;
    min-width: 500px;
    margin: 0 auto;
    font-size: 14px;
    cursor: default;
}

.page-header
{
}

.header-label {
    font-size: 26px;
    font-weight: normal;
}

.header-description {
    padding: 4px 0 10px 0;
    font-size: 14px;
    color: #c5cdd8;
}

.content-box {
    overflow: hidden;
    margin-bottom: 45px;
}

.base-activity-box {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: $super_light_shadow_color 0 2px 5px 1px;
}

.box-header-label {
    font-size: 15px;
    font-weight: bold;
}

$activity_box_padding_value: 30px;
.activity-box {
    @extend .content-box;
    @extend .base-activity-box;
}

.activity-box--header {
    @extend .box-header-label;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $activity_box_padding_value;

    &[shadow=""] {
        box-shadow: rgba(0, 0, 0, .05) 0 5px 10px;
    }

    &[format="auto"] {
        padding-bottom: 0;
    }

    .box-additional-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 30px;
        height: 30px;
        font-size: 20px;
    }
}

.activity-box--content {
    padding: $activity_box_padding_value;
}

.activity-box-container {
    padding-top: $activity_box_padding_value;

    &:first-child {
        padding-top: 0px;
    }
}

.activity-box--form-content {
    @extend .activity-box--content;
    background-color: $dashboard_options_actibity_injected_bg_color;

    &[bordered=""] {
        border: 1px solid $dashboard_options_actibity_injected_bg_color;
        border-left: 0;
        border-right: 0;
    }
}

.activity-form-box {
    margin: 0;
}

$collection_item_size: 45px;
$collection_upper_icon_size: 20px;
.collection-drawer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .collection--item {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        color: #a5b0bf;
        width: 100%;
        margin-bottom: 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid $dashboard_options_collection_item_separator_color;

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }

        .collection--item-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .collection--item--box {
            display: flex;
            justify-content: center;
            margin-left: 20px;

            &:first-child {
                margin-left: 0;
            }
        }

        .collection--ii-min {
            width: 40px !important;
            min-width: 40px !important;
            height: 40px !important;
            min-height: 40px !important;
        }

        .collection--item--icon {
            @extend .collection--item--box;
            color: white;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: $collection_item_size;
            min-width: $collection_item_size;
            height: $collection_item_size;
            min-height: $collection_item_size;
            border-radius: 100%;
            background-color: #5fa3f5;
            text-transform: uppercase;

            &[format="name"] {
                font-size: 14px;
                font-weight: bold;
            }
        }

        .collection--item--content {
            @extend .collection--item--box;
            flex: 1;
            flex-direction: column;
        }

        .cl-item-row-content {
            display: flex;
            flex: 1;
            align-content: center;
            align-items: center;
        }

        .cl-item-name {
            color: #56606f;
            font-size: 14px;
            font-weight: bold;
            padding-bottom: 2px;
        }

        .cl-item-marker-name {
            font-size: 12px;
            font-weight: bold;
            color: white;
            background: #5fa3f5;
            border-radius: 5px;
            padding: 2px 5px;
            margin-left: 5px;
        }

        .cl-item-marker-blue {
            color: #fff;
            background: #5fa3f5;
        }

        .cl-item-marker-orange {
            color: #fff;
            background: #dc6f3e;
        }

        .cl-item-marker-green {
            color: #fff;
            background: #3fb466;
        }

        .cl-item-marker-red {
            color: #fff;
            background: #d55656;
        }

        .cl-item-desc {
            font-size: 12px;
            font-weight: 800;

            > b {
                color: #707b8d;
            }
        }

        .cl-item-controls {
            display: flex;
            flex-direction: row;
            padding-left: 25px;

            > * {
                margin-left: 10px;
            }

            .material-icon {
                padding: 5px;
                font-size: 19px;
            }
        }
    }
}

.auto-resize-collection {
    flex-direction: row;
    column-count: 2;

    .collection--item {
        @media (min-width: 400px) {
            width: 100%;
        }

        @media (min-width: 1200px) {
            width: 50%;
            padding-right: 25px;
        }
    }
}

.info-box {
    @extend .base-activity-box;
    padding: 18px;
}

.box-inrow-inputs {
    width: 100%;
    .input-field-header {
        font-size: 13px;
        font-weight: bold;
        padding-bottom: 10px;
    }
    .input-field {
        min-width: 150px;
        display: flex;
        flex: 1;
        flex-direction: column;
        padding-right: 15px;
        justify-content: space-between;

        > *{
            width: 100%;
        }

        .input {
            height: 40px;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

.message-box {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 14px 20px;
    border-radius: 10px;
    background: white;
    color: $font_color;
    font-size: 13px;
    font-weight: bold;

    &[message-type="error"] {
        background: rgb(252, 173, 173);
    }
}

.messages-container {
    margin-top: 25px;
}

.activity-columns-box {
    @extend .content-box;
    display: flex;
    flex: 1;
    flex-direction: row;

    .column-box {
        display: flex;
        display: flex;
        flex: 1;
        flex-direction: column;
        padding-right: 15px;

        &:last-child {
            padding-right: 0;
        }
    }

    .column-box-header {
        font-size: 15px;
        font-weight: bold;
        padding-bottom: 20px;

        &[format="upper"] {
            font-size: 13px;
            text-transform: uppercase;
        }
    }
}