﻿@import "../../main/_colors.scss";

.schedule-preview-box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: $shadow_color 0 2px 5px;
    margin-bottom: 25px;
    overflow: hidden;
    transition: all ease-in-out .1s
}

.sc-preview-content {
    padding: 30px;
    padding-top: 45px;
}

.sc-preview-sub-box {
    padding-top: 15px;
}

.sc-preview-name {
    font-weight: bold;
    font-size: 17px;
    color: #51a0d9;
}

.sc-preview-counter {
    font-weight: bold;
    font-size: 18px;
    padding-left: 3px;
}

.sc-preview-grid {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.sc-preview-grid-column {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 15px;

    &:last-child {
        margin-right: 0px;
    }
}

.sc-preview-grid-entry-title {
    font-size: 13px;
    font-weight: bold;
    color: #51a0d9;
    text-transform: uppercase;
}

.sc-preview-grid-entry-content {
    padding-top: 2px;
}

.sc-preview-grid-entry-label {
    font-size: 12px;
    font-weight: bolder;
    color: #717c8e;
    text-transform: uppercase;
}

.sc-preview-special-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .special-content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .special-unit {
            margin-left: 10px;
        }

        .special-unit:first-child {
            margin-left: 0 !important;
        }
    }

    .special-content:first-child {
        .special-unit:first-child {
            border-bottom-left-radius: 0 !important;
        }
    }

    .special-content:last-child {
        .special-unit:last-child {
            border-bottom-right-radius: 0 !important;
        }
    }

    .special-theme-blue {
        background: #57b6fa;
        color: #fff;
    }

    .special-theme-orange {
        background: #f1a31e;
        color: #fff;
    }

    .special-unit {
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .special-label {
        font-weight: bold;
        border-bottom-right-radius: 8px;
        padding: 4px 8px;
        font-size: 12px;
        z-index: 5;
        transition: all ease-in-out .1s;
    }

    .special-control {
        border-bottom-left-radius: 8px;
        padding: 5px;
        font-size: 19px !important;
        cursor: pointer;
        z-index: 5;
        transition: all ease-in-out .1s;
        opacity: .8;

        &:hover {
            opacity: 1;
        }
    }
}

.schedule-preview-inactive-wrapper {
    .schedule-preview-box {
        opacity: .6;

        &:hover {
            opacity: 1;
        }
    }
}