﻿.schedule-page {
    max-width: none;
    min-width: 800px;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    flex-direction: column;

    > * {
        display: flex;
        flex-direction: column;
    }
}

.schedule-editor-page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.schedule-editor-publication-buttton {
    text-transform: uppercase;
    background: #84b5ef;
    color: #fff;

    &:hover {
        background: #7aace8;
    }
}

.published {
    background: #f38a86;
    color: #fff;

    &:hover {
        background: #e97d79;
    }
}

.schedule-editor-publication-control-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-left: 35px;
}

.schedule-editor-publication-status {
    padding-right: 15px;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    color: #b9c4ce;
}

$schedule_sheet_panel_border_radius: 5px;
$schedule_sheet_panel_size: 38px;
.schedule-editor-sheets-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-radius: $schedule_sheet_panel_border_radius;
    overflow: hidden;
    color: #556979;
    height: $schedule_sheet_panel_size;
    margin-bottom: 20px;
}

.sc-editor-sheet-operate-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    background: white;
}

.sc-editor-sheet-operate-content {
    display: flex;
    width: 100%;
}

.sc-editor-sheet-operate-full {
    flex: 1;
}

.sc-editor-sheet-operate-header {
    padding: 5px 18px;
    color: #3d4f5c;
    background: #e7ecf2;
    font-size: 14px;
    font-weight: bold;
    border-left: 3px solid #b3bbc6;
    border-right: 2px solid #e2e6ed;
}

.sc-editor-sheets-list {
    display: flex;
    flex: 1;
    flex-direction: row;

    .sheet-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 8px 14px;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        transition: all ease-in-out .1s;
        background-color: transparent;

        > * {
            white-space: nowrap;
        }

        &:hover {
            color: #66a0e6;
            background-color: #eaeff3;
        }

        &:after {
            position: absolute;
            content: '';
            right: -1px;
            width: 2px;
            height: 50%;
            background: #c8d1d9;
            z-index: 5;
        }

        &:last-child {
            &:after {
                opacity: 0;
            }
        }

        .move-control {
            width: 18px !important;
            height: 18px !important;
            font-size: 16px !important;

            &:first-child {
                margin-right: 10px;
                margin-left: 0;
            }

            &:hover {
                background-color: rgba(102, 160, 230, 0.71) !important;
                color: #fff !important;
            }
        }

        .delete-control {
            background-color: rgba(61, 79, 92, 0.1);

            &:hover {
                background-color: rgba(241, 78, 48, 0.6);
                color: #fff;
            }
        }

        .control-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            font-size: 19px;
            width: 22px;
            height: 22px;
            border-radius: 5px;
            cursor: pointer;
            z-index: 5;
            transition: all ease-in-out .1s;
        }
    }

    .sheet-item-selected {
        color: #fff;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
        background-color: #7fb2ef;

        .move-control {
            &:hover {
                background-color: rgba(255, 255, 255, 0.2) !important;
                color: #fff !important;
            }
        }

        .delete-control {
            background-color: rgba(61, 79, 92, 0.1);

            &:hover {
                background-color: rgba(242, 122, 122, .9);
                color: white;
            }
        }

        &:hover {
            color: #fff;
            background-color: #7fb2ef;
        }

        &:after {
            opacity: 0;
        }
    }
}


.sc-editor-sheets-operate-controls {
    display: flex;
    padding-left: 10px;

    height: 100%;

    .sheet-control-button {
        width: $schedule_sheet_panel_size - 14px;
        height: $schedule_sheet_panel_size - 14px;
        border-radius: $schedule_sheet_panel_border_radius;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin-right: 7px;
    }
}

.schedule-sheets-list-wrapper {
    display: flex;
    flex: 1;
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.schedule-editor-board {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
    padding-top: 15px;
    overflow: hidden;
    overflow-x: auto;
}

.schedule-editor-board-list {
    width: 325px;
    min-width: 325px;
    padding-right: 15px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    flex-direction: column;

    > * {
        display: flex;
        flex-direction: column;
    }

    .board-list-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 15px;
        z-index: 15;

        .control {
            margin-left: 6px;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            width: 18px;
            height: 18px;
            border-radius: $schedule_sheet_panel_border_radius;
        }
    }

    .board-list-content-wrapper {
        flex: 1;
        width: 100%;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
        padding-right: 10px;
        padding-top: 10px;
    }

    .board-list-content {
    }

    $board-card-padding: 22px;

    .board-list-card {
        border-radius: $schedule_sheet_panel_border_radius;
        background: white;
        margin-bottom: 15px;
        overflow: hidden;
        box-shadow: rgba(203, 213, 222, 0.4) 0 1px 5px;
    }

    .board-list-card-content {
        padding: $board-card-padding;
        padding-top: 40px;
    }

    .board-list-card-edit-control {
        position: absolute;
        display: flex;
        flex: 1;
        align-content: center;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        font-weight: normal;
        font-size: 16px;
        border-bottom-left-radius: $schedule_sheet_panel_border_radius;
        width: 26px;
        height: 26px;
        z-index: 10;
    }

    .board-list-card-header {
        font-size: 16px;
        font-weight: bold;
        color: #5295e5;
        padding-bottom: 10px;
    }

    .board-list-card-special-content {
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        position: absolute;
        z-index: 5;
        left: 0;
        top: 0;
        width: 100%;
        padding: 0 $board-card-padding;
        padding-right: $board-card-padding + 5px;

        .short-item {
            max-width: 100px;
        }

        .special-item {
            display: flex;
            align-content: center;
            align-items: center;
            flex-direction: row;
            padding: 3px 8px;
            border-bottom-left-radius: $schedule_sheet_panel_border_radius;
            border-bottom-right-radius: $schedule_sheet_panel_border_radius;
            background: #89bbf6;
            color: #fff;
            font-weight: bold;
            font-size: 13px;
            margin-right: 4px;
        }

        .special-item-theme-red {
            color: #fff;
            background: #f66071;
        }

        .special-item-theme-orange {
            color: #fff;
            background: #ff924b;
        }

        .special-item-theme-purple {
            color: #fff;
            background: #a556e9;
        }

        .special-item-theme-green {
            color: #fff;
            background: #91cb65;
        }

        .special-item-icon {
            font-size: 14px;
            font-weight: normal;
            margin-right: 5px;
        }
    }

    .board-list-card-details-group {
        display: flex;
        flex: 1;
        flex-direction: row;

        > * {
            padding-right: 10px;

            &:last-child {
                padding-left: 0;
            }
        }
    }

    .board-list-card-details-box {
        margin-top: 10px;
        font-weight: bold;

        .details-title {
            font-size: 13px;
            text-transform: uppercase;
            padding-bottom: 3px;
            color: #606f7a;
        }

        .details-content {
            font-size: 12px;
            color: #72a6e2;
        }
    }

    .board-list-card-row-box {
        display: flex;
        flex: 1;
        align-content: center;
        align-items: center;
        flex-direction: row;
    }

    .board-list-card-row-box-item {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        color: #7fb2ef;
        font-size: 13px;
        font-weight: bold;

        .card-row-box-item-icon {
            font-size: 20px;
            font-weight: normal;
            margin-right: 6px;
        }
    }

    .board-list-card-instructor {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        margin-top: 10px;
        font-weight: bold;
        font-size: 13px;

        $instructor_size: 30px;

        .instructor-icon {
            width: $instructor_size;
            min-width: $instructor_size;
            height: $instructor_size;
            min-height: $instructor_size;
            border-radius: 100%;
            background-color: #7fb2ef;
            text-align: center;
            color: #fff;
            margin-right: 10px;
        }

        .instructor-name {
            color: #556979;
        }
    }

    .board-list-card-markers {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }

    .board-list-card-marker {
        font-weight: bold;
        font-size: 12px;
        color: #fff;
        background: #7fb2ef;
        padding: 4px 10px;
        border-radius: $schedule_sheet_panel_border_radius;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    .simple-control {
        padding: 4px 10px;
        border-radius: $schedule_sheet_panel_border_radius;
        font-weight: bold;
        font-size: 13px;
        margin-top: 10px;
        cursor: pointer;
        transition: all ease-in-out .1s;
    }
}

.board-list-item-creator-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 15px;
    bottom: 0;
    z-index: 50;
    background-color: #dbe4eb;
    border: 2px solid #d7e0e8;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    border-radius: $schedule_sheet_panel_border_radius;
}

.board-list-item-creator {
    padding: 30px;
    overflow-y: auto;

    .input {
        height: 30px;
    }

    .creator-close-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        cursor: pointer;
        border-radius: $schedule_sheet_panel_border_radius;
        background-color: #c7d2db;
        color: #6d7f8d;
        transition: all ease-in-out .1s;
        margin-left: 25px;

        &:hover {
            background-color: #b7c4cf;
            color: #637481;
        }
    }

    .creator-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        text-transform: uppercase;
        padding-bottom: 30px;
        padding-top: 15px;
    }

    .input-field-group {
        width: 100%;
        display: flex;
        flex: 1;
        flex-direction: row;

        > * {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .input-field {
        display: flex;
        flex: 1;
        flex-direction: column;

        .input-field-header {
            padding-bottom: 10px;
        }

        .input {
            display: flex;
            flex: 1;
            flex-direction: row;
        }

        margin-bottom: 20px;
    }

    .creator-apply-button {
        text-align: center;
        justify-content: center;
    }
}