﻿@import "../../utils/_utils.scss";

.passport-box-large-size {
    max-width: 750px;
}

.passport-box-normal-size {
    max-width: 400px;
}

.silent-button {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
}

.passport-box {
    $theme-color: #16b0f6;

    font-size: 14px;
    color: #3e4c5e;

    .message {
        font-size: 16px;
        font-weight: 500;
        margin: 0;
        padding: 0;
    }

    @mixin input-font-stylizer() {
        font-size: 14px;
        font-weight: bold;
    }

    .marked-header-label
    {
        color: $theme-color;
        font-size: 14px;
        font-weight: bold;
    }

    .passport-box-content {
        border-radius: 5px;
        background-color: #fff;
        padding: 50px;
        box-shadow: 0 0 15px rgba(175, 192, 215, .3);
    }

    .content-wrapper
    {
        @include util-centered-in-row;
        align-items: flex-start;
        width: 100%;

        .content-column:nth-child(n+2)
        {
            margin-left: 25px;
        }
    }

    .content-column
    {
        flex: 1;
    }

    .auth-header {
        @include util-normal-display-flex;
        @include util-children-vertical-margin(25px);
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

        $icon-size: 50px;

        > .icon {
            width: $icon-size;
            height: $icon-size;
        }
    }

    .auth-title {
        font-size: 20px;
        font-weight: 500;
        color: #3e4c5e;
        text-transform: uppercase;
    }

    .content-tab {
        &[disabled] {
            display: none;
        }
    }

    .tabs-navigation {
        @include util-centered-in-row;
        @include util-children-vertical-margin(15px);
        width: 100%;
        align-items: stretch;
    }

    .fields {
        padding: 25px 0;
        min-width: 285px;

        > *:nth-child(n+2) {
            margin-top: 15px;
        }
    }

    .fields-in-row {
        @include util-centered-in-row;
        @include util-children-horizontal-margin(15px);
        align-items: flex-start;
    }

    .input-field {
        @include input-font-stylizer;
        width: 100%;
        border: none;
        margin-bottom: 2px;

        $icon-size: 16px;

        .icon {
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -$icon-size/2;
            width: $icon-size;
            height: $icon-size;
            color: #7d90a9;
        }

        .validation-message
        {
            font-size: 12px;
            font-weight: 700;
            color: rgb(247, 49, 49);
        }

        input {
            @include util-fullsize;
            @include input-font-stylizer;
            @include util-placeholder-color(#97aac1);
            transition: border-color ease-in-out .25s;
            ///padding-left: 28px;
            color: #16b0f6;
            border: 0px;
            background: none;
            border-bottom: 2px dotted #afc0d7;
            height: 50px;

            $ok-color: #16b0f6;

            &:required {
                border-color: $ok-color;
            }

            &:valid, &:focus {
                border-style: solid;
                border-color: $ok-color !important;
            }

            &:invalid {
                border-color: #afc0d7;
            }
        }
    }

    $button-height: 50px;

    .action-button {
        width: 100%;
        flex: 1;
        height: $button-height;
        background-color: $theme-color;
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        padding: 0 $button-height 0 20px;
        transition: all ease-in-out .2s;

        &:hover .overflow {
            width: 100%;
        }

        .overflow {
            position: absolute;
            border-radius: 5px;
            width: 0;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(255, 255, 255, .1);
            transition: width ease-out .2s;
        }

        .label {
        }

        .icon-wrapper {
            width: $button-height;
            height: $button-height;
            @include util-centered-in-row;
            align-self: flex-end;
            position: absolute;
            right: 0;
            top: 0;
            float: right;
        }

        .icon {
            width: 16px;
            height: 16px;
        }
    }

    .back-button {
        color: #5b6879;
        background: rgba(175, 192, 215, .2);
        padding: 0 20px;
    }

    .action-lite-button {
        transition: border-color ease-in-out .1s;
        cursor: pointer;
        color: $theme-color;
        font-weight: bold;
        font-size: 13px;
        border-bottom: 1px solid transparent;
        padding-bottom: 3px;
        background-color: transparent;

        &:hover {
            border-color: $theme-color;
        }
    }

    .utils-section {
        @include util-normal-display-flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        padding: 25px 0 0 0;
    }
}

.auth-social-wrapper {
    @include util-centered-in-row;
    flex-direction: column;

    > .title {
        color: #889cb7;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 25px 0;
    }

    .provider-collection {
        $provider-size: 40px;
        @include util-centered-in-row;
        @include util-children-horizontal-margin(10px);
        flex-direction: row;

        .provider {
            cursor: pointer;
            width: $provider-size;
            height: $provider-size;
            @include util-centered-in-row;
            border-radius: 5px;
            box-shadow: 0 2px 3px #afc0d7;
            background-color: #ffffff;
            transition: box-shadow ease-in-out .2s;

            img {
                width: 24px;
                height: 24px;
                z-index: 2;
            }
        }

        @mixin SocialSetup($backgroundColor, $shadowColor) {
            background-color: $backgroundColor;

            &:hover {
                box-shadow: 0 0 8px $shadowColor;
            }
        }

        .social-google {
            @include SocialSetup(#ffffff, rgba(246, 87, 87, 0.50));
        }

        .social-vk {
            @include SocialSetup(#4285f4, rgba(15, 123, 255, 0.70));
        }

        .social-facebook {
            @include SocialSetup(#4285f4, rgba(15, 123, 255, 0.70));
        }

        .social-twitter {
            @include SocialSetup(#4285f4, rgba(15, 123, 255, 0.70));
        }

        .social-microsoft {
            @include SocialSetup(#4285f4, rgba(15, 123, 255, 0.70));
        }
    }
}