﻿.message-container {
    width: 100%;
    margin-top: 25px;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid rgba(241, 124, 124, .3);
    background: rgba(241, 124, 124, .3);
    color: rgb(242, 83, 83);
    font-size: 14px;
    font-weight: 500;

    &:empty
    {
        display: none;
    }

    > ul {
        padding: 0 0 0 15px;
        margin: 0;

        > li {
        }
    }
}
