﻿@import "../_options.scss";
@import "../_colors.scss";

.base-input-settings {
    font-family: $webapp_fontfamily;
    transition: background ease-in-out .1s;
    outline: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 13px;
    background-color: rgba(255, 255, 255, .1);
}

.input-modern {
    @extend .base-input-settings;
    color: $font_color;
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 6px;
    border: 2px solid $active_color;

    &::placeholder {
        opacity: .5;
    }

    &:-ms-input-placeholder {
        opacity: .5;
    }

    &::-ms-input-placeholder {
        opacity: .5;
    }
}

.input-select-modern {
    @extend .base-input-settings;
    border: 0 none;
    color: $active_font_color;
    background: $active_color;
    padding: 8px 10px;
    cursor: pointer;

    &:hover {
        background: $active_color_hover;
    }

    > option {
        border: 2px solid $active_color;
        background: $active_font_color;
        color: black;
        padding: 6px 12px;
        border-radius: 6px;
    }
}

.input-button-modern {
    @extend .base-input-settings;
    border: 0 none;
    color: $active_font_color;
    background: $active_color;
    padding: 8px 10px;
    cursor: pointer;

    &:hover {
        background: $active_color_hover;
    }
}

.input-toggle-modern-wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;

    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &:hover .checkmark:after {
        border-width: 6px;
        width: 8px;
        height: 8px;
        border-color: $active_color_hover;
        opacity: .6;
    }

    .checkmark {
        @extend .base-input-settings;
        display: flex;
        align-content: center;
        align-items: center;
        padding: 0;
        padding-left: 30px;
        height: 20px;
    }

    .checkmark:after, .checkmark:before {
        position: absolute;
        content: '';
        left: 0;
        width: 16px;
        height: 16px;
        border-radius: 100%;
        transition: all ease-in-out .1s;
        border: 2px solid $active_color_hover;
    }

    .checkmark:after {
        border-color: transparent;
        background-color: transparent;
    }

    .checkmark:before {
        background-color: transparent;
    }

    input[type="checkbox"]:checked ~ .checkmark:before {
        background-color: $active_color_hover;
        border-color: transparent;
    }
}
