﻿<div class="sheet-item">
    <span control="move-down" class="move-control control-icon material-icon">navigate_before</span>
    <span data-ref="name"></span>
    <span control="move-up" class="move-control control-icon material-icon">navigate_next</span>
    <span control="delete" class="control-icon delete-control material-icon">close</span>
    @await Html.PartialAsync("Partials/_AsyncOperationBox")
</div>