﻿<div class="board-list-card">
    <div data-ref="content" class="board-list-card-content" active="">
        <div control="edit" class="board-list-card-edit-control button-action material-icon">edit</div>
        <div class="board-list-card-special-content flex flex_layout_row">
            <div data-ref="discipline-method" class="special-item short-item special-item-theme-green">Лекция</div>
            <div class="special-item">
                <div class="special-item-icon material-icon">timelapse</div>
                <span data-ref="time">10:00 - 12:20</span>
            </div>
        </div>
        <div data-ref="discipline" class="board-list-card-header">Основы инновационной деятельности</div>
        <div class="board-list-card-details-group">
            <div class="board-list-card-details-box">
                <div class="details-title">Преподаватель</div>
                <div data-ref="instructor" class="details-content">Медведева Светлана Николаевна</div>
            </div>
            <div class="board-list-card-details-box">
                <div class="details-title">Длительность занятия</div>
                <div data-ref="duration" class="details-content">140 минут</div>
            </div>
        </div>

        <div class="board-list-card-details-box">
            <div class="details-title">Место проведения занятия</div>
            <div data-ref="location" class="details-content">ул. Володарского, 6. Каб. 404</div>
        </div>
        <a control="delete" class="simple-control  button-delete">Удалить</a>
    </div>
    <div data-ref="editable-content"></div>
    @await Html.PartialAsync("Partials/_AsyncOperationBox")
</div>