﻿@model DashboardScheduleEditorDisplayViewModel
<div class="schedule-editor-board-list">
    <form data-ref="entity-creator" class="board-list-item-creator-wrapper" onkeypress="return utils.preventEnterKeyPress(event);">
        <div class="board-list-item-creator modern-board-list-scrollbar">
            <div class="creator-header">
                <span data-ref="creator-title">Добавление записи</span>
                <div control="creator-close" class="creator-close-button material-icon">close</div>
            </div>
            <div class="input-field">
                <div class="input-field-header">Преподаватель</div>
                <select data-ref="InstructorId" class="input input-select-modern" name="InstructorId" required>
                    @foreach (var entity in Model.Instructors)
                    {
                        <option value="@entity.Id">@entity.FullName</option>
                    }
                </select>
            </div>
            <div class="input-field">
                <div class="input-field-header">Дисциплина</div>
                <select data-ref="DisciplineId" class="input input-select-modern" name="DisciplineId" required>
                    @foreach (var entity in Model.Disciplines)
                    {
                        <option value="@entity.Id">@entity.Name</option>
                    }
                </select>
            </div>
            <div class="input-field">
                <div class="input-field-header">Форма обучения</div>
                <select data-ref="DisciplineMethodId" class="input input-select-modern" name="DisciplineMethodId" required>
                    @foreach (var entity in Model.DisciplineMethods)
                    {
                        <option value="@entity.Id">@entity.Name</option>
                    }
                </select>
            </div>
            <div class="input-field">
                <div class="input-field-header">Место проведения занятия</div>
                <div class="input-field-group">
                    <input data-ref="StartTime" type="time" name="StartTime" placeholder="10:00" class="input input-modern" required />
                    <input data-ref="EndTime" type="time" name="EndTime" placeholder="11:00" class="input input-modern" required />
                </div>
            </div>
            <div class="input-field">
                <div class="input-field-header">Место проведения занятия</div>
                <input data-ref="Location" type="text" name="Location" placeholder="ул Пушкина, дом Колотушкина" class="input input-modern" required />
            </div>
            <div class="input-field">
                <button control="creator-apply" type="button" class="input input-button-modern submitter creator-apply-button">Добавить</button>
            </div>
        </div>
        @await Html.PartialAsync("Partials/_AsyncOperationBox")
    </form>
    <div class="board-list-header">
        <span data-ref="weekday">Понедельник</span>
        <div control="add" class="control button-action material-icon">add</div>
    </div>
    <div class="board-list-content-wrapper modern-board-list-scrollbar scrollbar">
        <div data-ref="collection" class="board-list-content"></div>
    </div>
</div>