﻿<div class="schedule-preview-box">
    <div class="sc-preview-special-container">
        <div class="special-content">
            <div data-ref="group-name" class="special-unit special-label special-theme-blue">14ПИ1С</div>
            <div data-ref="schedule-type-name" class="special-unit special-label special-theme-orange">14ПИ1С</div>
        </div>
        <div class="special-content">
            <div control="edit" class="special-unit special-control material-icon button-action">edit</div>
            <div control="delete" class="special-unit special-control material-icon button-delete">delete_forever</div>
        </div>
    </div>
    <div class="sc-preview-content">
        <a data-ref="name" class="sc-preview-name">Расписание группы «14ПИ1С»</a>

        <div class="sc-preview-grid sc-preview-sub-box">
            <div class="sc-preview-grid-column">
                <div class="sc-preview-grid-entry-title">Форма обучения</div>
                <div class="sc-preview-grid-entry-content">
                    <span data-ref="education-method-name" class="sc-preview-grid-entry-label"></span>
                </div>
            </div>
            <div class="sc-preview-grid-column">
                <div class="sc-preview-grid-entry-title">Квалификация</div>
                <div class="sc-preview-grid-entry-content">
                    <span data-ref="qualification-name" class="sc-preview-grid-entry-label"></span>
                </div>
            </div>
        </div>

        <div class="sc-preview-grid sc-preview-sub-box">
            <div class="sc-preview-grid-column">
                <div class="sc-preview-grid-entry-title">Группа</div>
                <div class="sc-preview-grid-entry-content">
                    <span data-ref="single-group-name" class="sc-preview-grid-entry-label"></span>
                </div>
            </div>
            <div class="sc-preview-grid-column">
                <div class="sc-preview-grid-entry-title">Таблицы</div>
                <div class="sc-preview-grid-entry-content">
                    <span data-ref="sheet-count" class="sc-preview-grid-entry-label"></span>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("Partials/_AsyncOperationBox")
</div>