﻿@mixin util-fullsize() 
{
    width: 100%;
    height: 100%;
}

@mixin util-placeholder-color($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }

    &::-moz-placeholder {
        color: $color;
    }

    &:-moz-placeholder {
        color: $color;
    }

    &:-ms-input-placeholder {
        color: $color;
    }
}

@mixin util-children-vertical-padding($size) {
    > *:nth-child(n+2) {
        padding-top: $size;
    }
}

@mixin util-children-horizontal-padding($size) {
    > *:nth-child(n+2) {
        padding-left: $size;
    }
}

@mixin util-children-vertical-margin($size) {
    > *:nth-child(n+2) {
        margin-top: $size;
    }
}

@mixin util-children-horizontal-margin($size) {
    > *:nth-child(n+2) {
        margin-left: $size;
    }
}

@mixin util-centered-in-row() {
    @include util-normal-display-flex;
    align-items: center;
    justify-content: center;
}

@mixin util-normal-display-flex() {
    display: flex;
    /*
    > * {
        margin: auto;
    }
    */
}