﻿@import "../../utils/_utils.scss";
@import "../../utils/_loaders.scss";
@import "../_options.scss";

* [active="no"], * [active="false"], * [active="off"] {
    display: none !important;
}

.disable-user-select {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
}

.disable-link {

}
.disable-link, 
.disable-link:link, 
.disable-link:visited, 
.disable-link:hover, 
.disable-link:active {
    text-decoration: none !important;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: $webapp_fontfamily;
}

* {
    position: relative;
    box-sizing: border-box;
}

div {
    display: block;
}

a {
    display: inline-block;
    text-decoration: none;
}

button, input {
    border: 0;
    border-color: transparent;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

.overlay-loading {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(234, 239, 245, 0.85);
    z-index: 1000000;
    overflow: hidden;

    &[disabled] {
        display: none;
    }

    .content {
        @include util-centered-in-row;
        width: 100%;
        height: 100%;
    }

    .loader {
        > * {
            background-color: #16b0f6;
        }
    }
}
