﻿@import "../_colors.scss";

.async-operation-block {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    align-items: center;
    justify-content: center;

    &[mode="await"] {
        background-color: $operation_locker_color
    }

    .operation-status {
        padding: 14px 20px;
        color: $font_color;
        border-radius: 10px;
        background: white;
        font-weight: bold;
        font-size: 14px;
        box-shadow: $shadow_color 0px 0px 15px 5px;
    }
}
