﻿.webapplication-header-bar {
    height: 60px;
    background-color: #fff;
    z-index: 5;
    box-shadow: rgb(235, 235, 235) 0 2px 20px;
}

.wpp-header-content {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 0 20px;
}

.wpp-header-directed-section {
    display: flex;
    height: 100%;
    align-content: center;
    align-items: center;
}

.wpp-single-bar-section {
    display: flex;
    padding: 0 18px;
    height: 100%;
    align-content: center;
    align-items: center;

    &:before {
        position: absolute;
        content: '';
        left: 0;
        top: 25%;
        width: 2px;
        height: 50%;
        background-color: rgb(235, 235, 235);
    }
}

$wpp-account-border-width: 100%;

.wpp-single-account {
    cursor: pointer;
    padding-right: 0;
    transition: all ease-in-out .1s;
    background-color: transparent;

    &:hover {
        background-color: #f6f6f6;
    }
}

.wpp-single-account-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
    padding-right: 14px;
}

$wpp-account-icon-size: 30px;

.wpp-single-account-icon {
    width: $wpp-account-icon-size;
    min-width: $wpp-account-icon-size;
    height: $wpp-account-icon-size;
    min-height: $wpp-account-icon-size;
    background-color: #dcdcdc;
    border-radius: $wpp-account-border-width;
}

.wpp-single-account-user-details {
    font-weight: bold;
    padding: 0 15px;
    color: #303740;

    > .user-name {
        font-size: 13px;
    }

    > .user-email {
        font-size: 11px;
        color: #8995a3;
    }
}

$wpp-account-settings-icon-size: 15px;
$wpp-account-settings-icon-color: #d0d0d0;

.wpp-single-account-settings-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    > svg {
        color: $wpp-account-settings-icon-color;
        fill: $wpp-account-settings-icon-color;
        width: $wpp-account-settings-icon-size;
        height: $wpp-account-settings-icon-size;
    }
}

.wpp-single-account-login-content {
    color: #619df2;
    transition: all ease-in-out .1s;
    text-decoration: none;

    &:hover {
        color: #549afc;
        text-decoration: none;
    }
}

$wpp-account-login-icon-size: 30px;

.wpp-single-account-login-icon {
    width: $wpp-account-login-icon-size;
    height: $wpp-account-login-icon-size;
    margin-right: 10px;
    color: inherit;
}

.wpp-single-account-login-label {
    font-size: 13px;
    font-weight: bold;
    color: inherit;
}

.wpp-header-logo-section {
    display: flex;
    align-items: center;
    cursor: default;
}

.wpp-header-logo-icon {
    height: 30px;
}

.wpp-header-logo-title {
    padding-left: 15px;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    color: #6c9ee4;
}

.wpp-header-navigation-content {
}

.wpp-header-personality-content {
    .wpp-single-bar-section {
        &:first-child {
            &:before {
                display: none;
            }
        }
    }
}
