﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>University</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="~/stylesheets/home.min.css" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" href="~/stylesheets/webapp.min.css" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" href="~/stylesheets/layouts.min.css" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" href="~/fonts/material-icons.css" asp-append-version="true" />

    <script src="~/scripts/main.js" asp-append-version="true"></script>
    <script src="~/scripts/utils.js" asp-append-version="true"></script>
    <script src="~/scripts/layouts.js" asp-append-version="true"></script>
    <script src="~/scripts/navigation.js" asp-append-version="true"></script>
</head>
<body>
    <div id="root" class="webapplication-root-content">
        @await Html.PartialAsync("_Topbar")
        <div class="webapplication-section webapplication-content modern-scrollbar">
            @RenderBody()
        </div>
    </div>
</body>
</html>
